.container{
    padding-top: 10px;
    margin: auto;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1128px;
    margin: auto;
}

.nav{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    margin-right: 30px;
}

li{
    margin-right: 40px;
    list-style: none;
    color: white;   
}

.loginButton{
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 10px;
}